<% if current_user %>
<p><%= link_to "Log out", logout_path %></p>
<p><%= link_to "Manage Groups", groups_path %></p>
  <h1>User Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>FB UID:</strong>
    <%= current_user.uid %>
  </p>.
  <%if !@pg_feeds.nil? %>
    <% @pg_feeds.each do |fb_group_feeds| %>
      <div class="feeds">
        <p align="center">  

          <%if fb_group_feeds.ownShare%>
            <%=fb_group_feeds.postedBy%> Shared a <%=fb_group_feeds.postType %>
          <%else%>
            <%=fb_group_feeds.postedBy%> Posted in <%=fb_group_feeds.groupName%>
          <%end%>
        </p>
          <% if "photo"==fb_group_feeds.postType %>
          <p align="center"> <%=fb_group_feeds.postMessage%></p>
          <p align="center"> <%=fb_group_feeds.photoName%></p>
          <p align="center">
            <a href=<%=fb_group_feeds.photoLink%>>
              <img src=<%=fb_group_feeds.photoThumbNail%> width="250" height="250" align="center">
            </a>
          </p>  
            <p align="center">
            <%=fb_group_feeds.byName%>
            <%=fb_group_feeds.byText%>
            <%=fb_group_feeds.byLink%>
            </p>
          <% elsif "link"==fb_group_feeds.postType%>
            <p align="center"><%=fb_group_feeds.postMessage%></p>
            <p align="center">
            <a href=<%=fb_group_feeds.feedLink%>>
            <%if fb_group_feeds.isPictureLink%>
              <img src=<%=fb_group_feeds.feedPicture%> width="250" height="250" align="center">
            <%end%>
            <p align="center">
            <%=fb_group_feeds.feedName%>
            <%=fb_group_feeds.feedCaption%>
            <%=fb_group_feeds.feedDescription%>
            </p>
            </a>
            </p>
          <%else%>
            <p align="center"><%=fb_group_feeds.postMessage%></p>
          <%end%>
            <p align="center">Posted on <%=fb_group_feeds.postedAt%></p>
        </p> 
      </div>
    <% end %>
  <%end%>
<% else %>

  <h1>Use below Link to Sign In Agian</h1>

  <p><strong>Sign in through one of these services:</strong></p>

  <div class="auth_providers">
  
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
    </a>
  
  </div>
  
<% end %>
