<% if current_user %>
<div class="container">
  <h1>User Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>FB UID:</strong>
    <%= current_user.uid %>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5">
    </div>  
    <div class="col-md-7">
      <%if !@pg_feeds.nil? %>
      <ul class="media-list">
        <% @pg_feeds.each do |fb_group_feeds| %>
        <li class="media">
          <% if "photo"==fb_group_feeds.postType %>
          <%= render 'sessions/facebookphotofeed',:fb_group_feeds => fb_group_feeds %>
          <% elsif "link"==fb_group_feeds.postType%>
          <%= render 'sessions/facebooklinkfeed',:fb_group_feeds => fb_group_feeds %>
          <% elsif "video"==fb_group_feeds.postType%>
          <%= render 'sessions/facebookvideofeed',:fb_group_feeds => fb_group_feeds %>
          <% elsif "status"==fb_group_feeds.postType%>
          <%= render 'sessions/facebookstatusfeed',:fb_group_feeds => fb_group_feeds %>
          <%end%>
        </li>    
        <% end %>   
      </ul>  
      <%end%>
    </div>
  </div>
</div>
<% else %>

<h1>Use below Link to Sign In Agian</h1>

<p><strong>Sign in through one of these services:</strong></p>

<div class="auth_providers">

  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
  </a>
  
</div>

<% end %>
