<% if current_user %>
<div class="container">
  <h1>User Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>FB UID:</strong>
    <%= current_user.uid %>
  </p>
</div>
  <div class="container">
  <div class="row">
  <div class="col-md-5">
  </div>  
  <div class="col-md-7">
  <%if !@pg_feeds.nil? %>
  <ul class="media-list">
    <% @pg_feeds.each do |fb_group_feeds| %>
    <li class="media">
         
          <% if "photo"==fb_group_feeds.postType %>

            <a class="pull-left thumbnail" href=<%=fb_group_feeds.photoLink%> target="_blank">
              <img class="media-object img-responsive" width="150" height="150"
                src=<%=fb_group_feeds.photoThumbNail%> alt="Image Feed">
            </a>

            <div class="media-body">
                <h4 class="media-heading">
                  <%=fb_group_feeds.postedBy%> Shared a <%=fb_group_feeds.postType %>
                </h4>
                <article>
                <%=fb_group_feeds.postMessage%>
                <%=fb_group_feeds.photoName%>
                <%=fb_group_feeds.byName%>
                <%=fb_group_feeds.byText%>
                <%=fb_group_feeds.byLink%>
                </article>
                Posted on <%=fb_group_feeds.postedAt%>
            </div>

          <% elsif "link"==fb_group_feeds.postType%>

          <%if fb_group_feeds.isPictureLink%>
            <a class="pull-left thumbnail" href=<%=fb_group_feeds.feedLink%> target="_blank">
              <img class="media-object img-responsive" width="150" height="150"
                src=<%=fb_group_feeds.feedPicture%> alt="Link Feed">
            </a>
         
            <div class="media-body">
              <h4 class="media-heading">
                  <%=fb_group_feeds.postedBy%> Shared a <%=fb_group_feeds.postType %>
              </h4>
              <article>
                <%=fb_group_feeds.postMessage%>
                <%=fb_group_feeds.feedName%>
                <%=fb_group_feeds.feedCaption%>
                <%=fb_group_feeds.feedDescription%>
              </article>
              Posted on <%=fb_group_feeds.postedAt%>
            </div>
          <% else %>
            <a class="pull-left thumbnail" href=<%=fb_group_feeds.feedLink%> target="_blank">
              <img class="media-object img-responsive" width="150" height="150"
                src=<%=fb_group_feeds.groupPictureUrl%> alt="Link Feed">
            </a>
            
            <div class="media-body">
              <h4 class="media-heading">
                 <%=fb_group_feeds.postedBy%> Shared a <%=fb_group_feeds.postType %>
              </h4>
              <article>
                <%=fb_group_feeds.postMessage%>
                <%=fb_group_feeds.feedName%>
                <%=fb_group_feeds.feedCaption%>
                <%=fb_group_feeds.feedDescription%>
              </article>   
                Posted on <%=fb_group_feeds.postedAt%>
            </div>
            
          <%end%>

        <%else%>
          <a class="pull-left thumbnail" href="#" target="_blank">
              <img class="media-object img-responsive" width="150" height="150"
                src=<%=fb_group_feeds.groupPictureUrl%> alt="Link Feed">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <%=fb_group_feeds.postedBy%> Shared a <%=fb_group_feeds.postType %>
            </h4>
            <article>
              <%=fb_group_feeds.postMessage%>
            </article>  
              Posted on <%=fb_group_feeds.postedAt%>
          </div>
        <%end%>
            
    </li>    
    <% end %>   
  </ul>  
  <%end%>
  </div>
  </div>
  </div>
  <script>
  $('article').readmore({
    maxHeight : 40,
    moreLink: '<a href="#">Read More<i class="glyphicon glyphicon-circle-arrow-right"></i></a>',
    lessLink: '<a href="#">Less<i class="glyphicon glyphicon-circle-arrow-left"></i></a>'
  });
</script>
<% else %>

  <h1>Use below Link to Sign In Agian</h1>

  <p><strong>Sign in through one of these services:</strong></p>

  <div class="auth_providers">
  
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
    </a>
  
  </div>
  
<% end %>
