<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Prototype" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Prototype" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.expander.min" %>
    <%= csrf_meta_tags %>
    <script>
    $(document).ready(function() {
        var opts = {collapseTimer: 4000};

        $.each(['beforeExpand', 'afterExpand', 'onCollapse'], function(i, callback) {
          opts[callback] = function(byUser) {
            var by, msg = '<div class="success">' + callback;

            if (callback == 'onCollapse') {
              msg += ' (' + (byUser ? 'user' : 'timer') + ')';
            }
            msg += '</div>';

            $(this).parent().parent().append(msg)
          }
        });
        
      $('article.expander').expander({
          slicePoint: 140,
          widow: 20,
          expandSpeed: 0,
          expandText: '<i class="glyphicon glyphicon-chevron-right"></i>',
          userCollapseText: '<i class="glyphicon glyphicon-chevron-up"></i>'
        });
    });
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
